In [4]:
import os, tarfile
import re
import pandas as pd
import numpy as np
import zipfile, gzip
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [5]:
TRAIN_PATH = "/data/projects/DNABERT_data/Core_promoters/positive_set.tsv"
TEST_PATH = "/data/projects/DNABERT_data/Core_promoters/negative_set.tsv"

In [6]:
train_csv  =  pd.read_csv(TRAIN_PATH,  sep='\t')
print(train_csv.shape)
test_csv  =  pd.read_csv(TEST_PATH,  sep='\t')
print (test_csv.shape)

(236975, 2)
(27455282, 2)

In [7]:
test_csv = test_csv.sample(n=236975)

In [8]:
test_csv

                                                   Sequence  Label
8171022   GGGAAG GGAAGG GAAGGA AAGGAG AGGAGG GGAGGG GAGG...      0
21703716  AGCCTG GCCTGA CCTGAC CTGACC TGACCA GACCAA ACCA...      0
16897978  TCAATC CAATCC AATCCT ATCCTT TCCTTT CCTTTT CTTT...      0
6990685   TCATCA CATCAA ATCAAG TCAAGT CAAGTA AAGTAT AGTA...      0
18296965  ATGTAT TGTATA GTATAT TATATA ATATAT TATATA ATAT...      0
...                                                     ...    ...
10997698  GATAAA ATAAAG TAAAGT AAAGTA AAGTAG AGTAGA GTAG...      0
2401205   AGTGAG GTGAGT TGAGTT GAGTTT AGTTTC GTTTCT TTTC...      0
17490486  ATAAAG TAAAGG AAAGGT AAGGTT AGGTTT GGTTTA GTTT...      0
25408312  AAAATG AAATGG AATGGA ATGGAT TGGATC GGATCT GATC...      0
13294115  TTTATT TTATTT TATTTA ATTTAG TTTAGT TTAGTT TAGT...      0

[236975 rows x 2 columns]

In [9]:
all_data = pd.concat([train_csv, test_csv], ignore_index=True)
print(all_data.shape)
print (all_data.head())
print(all_data.groupby(['Label']).size())

(473950, 2)
                                            Sequence  Label
0  GCTTTG CTTTGC TTTGCA TTGCAT TGCATG GCATGC CATG...      1
1  GGACGG GACGGA ACGGAG CGGAGC GGAGCG GAGCGG AGCG...      1
2  CTCCAC TCCACT CCACTT CACTTC ACTTCC CTTCCT TTCC...      1
3  TGGCCC GGCCCC GCCCCG CCCCGC CCCGCC CCGCCC CGCC...      1
4  TCCCTC CCCTCC CCTCCC CTCCCA TCCCAC CCCACC CCAC...      1
Label
0    236975
1    236975
dtype: int64

In [10]:
all_data = shuffle(all_data).reset_index(drop=True)
all_data.head(10)

                                            Sequence  Label
0  TACCAT ACCATA CCATAT CATATT ATATTA TATTAC ATTA...      0
1  CACCGC ACCGCT CCGCTT CGCTTT GCTTTA CTTTAT TTTA...      1
2  GTAAAC TAAACA AAACAG AACAGT ACAGTT CAGTTG AGTT...      1
3  CAATAA AATAAT ATAATT TAATTA AATTAA ATTAAA TTAA...      0
4  GCACAA CACAAA ACAAAA CAAAAC AAAACT AAACTG AACT...      1
5  GGGGCG GGGCGG GGCGGG GCGGGG CGGGGC GGGGCG GGGC...      1
6  TTCCTT TCCTTT CCTTTC CTTTCT TTTCTT TTCTTT TCTT...      1
7  CCAAGA CAAGAT AAGATG AGATGT GATGTT ATGTTT TGTT...      0
8  CAGCTC AGCTCC GCTCCA CTCCAG TCCAGA CCAGAA CAGA...      0
9  ACCTCC CCTCCC CTCCCG TCCCGT CCCGTG CCGTGA CGTG...      1

# Creating train and testing dataset

In [14]:
train, test = train_test_split(all_data, test_size=0.10)
train, val = train_test_split(train, test_size=0.10)
print (train.shape, test.shape, val.shape)
print(train.groupby(['Label']).size(), test.groupby(['Label']).size() , val.groupby(['Label']).size())

(383899, 2) (47395, 2) (42656, 2)
Label
0    191755
1    192144
dtype: int64 Label
0    23776
1    23619
dtype: int64 Label
0    21444
1    21212
dtype: int64

In [16]:
output_folder_path ="/data/projects/DNABERT_data/Core_promoters/Finetuned_data" 
if not os.path.exists(output_folder_path + '/Evaluation_data'):
    os.makedirs(output_folder_path + '/Evaluation_data')

In [17]:
train.to_csv(output_folder_path+"/train.tsv", sep="\t", index=False)
test.to_csv(output_folder_path+"/dev.tsv", sep="\t", index=False)
val.to_csv(output_folder_path+"/Evaluation_data/dev.tsv", sep="\t", index=False)