In [1]:
import pybedtools
import pandas as pd

In [2]:
df_TATA_pattern= pd.read_csv("/data/private/pdutta_new/non_coding_regions/TATA_NonTATA/Pattern/TATA_raw_positive.tsv", sep="\t")
df_TATA_PWM=  pd.read_csv("/data/private/pdutta_new/non_coding_regions/TATA_NonTATA/PWM/TATA_positive_master.tsv", sep="\t")

In [3]:
df_TATA_PWM

,Chromosome,TSS,45BP_Start,45BP_End,Strand,GeneID,gene_type,gene_name,hgnc_id,havana_gene,transcript_id,transcript_type,transcript_name,Sequence,Relative_Score,Position
0,chr1,160446,160401,160491,+,ENSG00000241599.1,lncRNA,ENSG00000241599,[nan],OTTHUMG00000002525.1,ENST00000496488.1,lncRNA,ENST00000496488,CATCAAGGATCTGCCTATATCAACAAAGGAGCCAAGGACCAACCAT...,0.823486,14
1,chr1,359681,359636,359726,-,ENSG00000228463.10,transcribed_processed_pseudogene,ENSG00000228463,[nan],OTTHUMG00000002552.3,ENST00000441866.2,processed_transcript,ENST00000441866,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,0.824076,10
2,chr1,496605,496560,496650,-,ENSG00000237094.12,transcribed_unprocessed_pseudogene,ENSG00000237094,[nan],OTTHUMG00000002857.7,ENST00000419160.4,processed_transcript,ENST00000419160,CCTGTCTCAAAACAACAAAAAAGTAGCAGCTAACATCAACTGACCT...,0.752314,12
3,chr1,588453,588408,588498,-,ENSG00000230021.10,transcribed_processed_pseudogene,ENSG00000230021,[nan],OTTHUMG00000191652.4,ENST00000417636.2,processed_transcript,ENST00000417636,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,0.824076,10
4,chr1,612813,612768,612858,-,ENSG00000230021.10,transcribed_processed_pseudogene,ENSG00000230021,[nan],OTTHUMG00000191652.4,ENST00000634833.2,processed_transcript,ENST00000634833,ACTCTTGGTCTGTCGTCCAGGATAGAGGGCAGGGATGCCATCACTA...,0.754134,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12658,chrY,21138633,21138588,21138678,+,ENSG00000289707.1,lncRNA,ENSG00000289707,[nan],[nan],"['ENST00000696464.1', 'ENST00000696465.1']",lncRNA,"['ENST00000696464', 'ENST00000696465']",TGAGAGGAGTTTCTTATAAAAGCTTTCGAATTCAGATGTAACCCAG...,0.862072,13
12659,chrY,24077799,24077754,24077844,+,ENSG00000237467.1,unprocessed_pseudogene,USP9YP35,HGNC:38779,OTTHUMG00000045038.1,ENST00000435696.1,unprocessed_pseudogene,USP9YP35-201,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...,0.755534,10
12660,chrY,25592345,25592300,25592390,-,ENSG00000232064.1,unprocessed_pseudogene,USP9YP33,HGNC:38777,OTTHUMG00000045270.1,ENST00000412220.1,unprocessed_pseudogene,USP9YP33-201,TTTTTCTTAATTTAGGTTTTCTACAAATAATATTATGATTACTTTC...,0.755534,20
12661,chrY,26354418,26354373,26354463,-,ENSG00000229238.3,unprocessed_pseudogene,PPP1R12BP1,HGNC:18498,OTTHUMG00000036764.2,ENST00000367272.4,unprocessed_pseudogene,PPP1R12BP1-201,CTCAATGAATACTTGTTGAATGAATGAACGGGCTTTTCTTTTCAGG...,0.760356,17
12662,chrY,26591601,26591556,26591646,-,ENSG00000227629.1,unprocessed_pseudogene,SLC25A15P1,HGNC:18497,OTTHUMG00000036811.1,ENST00000456738.1,unprocessed_pseudogene,SLC25A15P1-201,TCCAGAGAGCTGCCTTCCATAAGACCAGCAGAAGAGTGGGCAAACA...,0.780501,16

In [4]:
df_TATA_pattern

,Chromosome,45BP_Start,45BP_End,Strand,TSS,GeneID,gene_type,gene_name,hgnc_id,havana_gene,transcript_id,transcript_type,transcript_name,Sequence,TATA_Box_Positions
0,chr1,182651,182741,+,182696,ENSG00000279928.2,unprocessed_pseudogene,DDX11L17,HGNC:55080,OTTHUMG00000191962.1,ENST00000624431.2,unprocessed_pseudogene,DDX11L17-201,GTTGTCTGCATGTAACTTAATACCACAACCAGGCATAGGGGAAAGA...,[16]
1,chr1,359636,359726,-,359681,ENSG00000228463.10,transcribed_processed_pseudogene,ENSG00000228463,[nan],OTTHUMG00000002552.3,ENST00000441866.2,processed_transcript,ENST00000441866,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,"[11, 43]"
2,chr1,498931,499021,-,498976,ENSG00000237094.12,transcribed_unprocessed_pseudogene,ENSG00000237094,[nan],OTTHUMG00000002857.7,"['ENST00000616311.5', 'ENST00000616947.2']",processed_transcript,"['ENST00000616311', 'ENST00000616947']",GTATGTTATGAAGGTTATATGTTAGGAAGGGTCCCAGGAGGTAGAC...,[15]
3,chr1,588408,588498,-,588453,ENSG00000230021.10,transcribed_processed_pseudogene,ENSG00000230021,[nan],OTTHUMG00000191652.4,ENST00000417636.2,processed_transcript,ENST00000417636,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,"[11, 43]"
4,chr1,810116,810206,-,810161,ENSG00000230092.7,transcribed_unprocessed_pseudogene,ENSG00000230092,[nan],OTTHUMG00000002403.3,ENST00000590817.3,transcribed_unprocessed_pseudogene,ENST00000590817,GAAAAAATATTTTAATAGAATATGTCTTTATTTCAGTATCTTAAAT...,"[11, 41]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8657,chrY,25995652,25995742,-,25995697,ENSG00000231716.1,unprocessed_pseudogene,CDY23P,HGNC:23867,OTTHUMG00000045273.1,ENST00000451661.1,unprocessed_pseudogene,CDY23P-201,CGAACAGCAGTACAAATAAACAAAGATTAAGGTAAAGATAAATATC...,"[12, 38]"
8658,chrY,26123629,26123719,+,26123674,ENSG00000215507.10,transcribed_processed_pseudogene,RBMY2DP,HGNC:23259,OTTHUMG00000045283.2,ENST00000448881.5,transcribed_processed_pseudogene,RBMY2DP-202,CTATTTTTATCTAATATAGATTTTTTTTAACCATTTACAGCACAAT...,[10]
8659,chrY,26247339,26247429,+,26247384,ENSG00000251796.1,snoRNA,SNORA70,[nan],[nan],ENST00000515987.1,snoRNA,SNORA70.11-201,TTCTCTTCCTAATACTATTTGTTTACACCTATAGTTTTTCTCTAGA...,"[8, 15]"
8660,chrY,57016051,57016141,-,57016096,ENSG00000237801.6_PAR_Y,processed_pseudogene,AMD1P2,HGNC:460,OTTHUMG00000022673.2,ENST00000412936.6_PAR_Y,processed_pseudogene,AMD1P2-201,TAGTTGATTTTCTGTGGCTATTTGTTGTTTGCTAGTCTCATGGTGA...,[18]
8661,chrY,57214352,57214442,-,57214397,ENSG00000227159.8_PAR_Y,unprocessed_pseudogene,DDX11L16,HGNC:37115,OTTHUMG00000022678.1,ENST00000507418.6_PAR_Y,unprocessed_pseudogene,DDX11L16-201,TGTCTGCATGTAACTTAATACCACAACCAGGCATAGGGGAAAGATT...,[14]

In [5]:
# Convert dataframes to BED format
# Convert dataframes to BED format including TSS column
def df_to_bed(df, chrom_col, start_col, end_col, extra_cols=[]):
    cols = [chrom_col, start_col, end_col] + extra_cols
    return pybedtools.BedTool.from_dataframe(df[cols])

In [6]:
# Create BEDTools objects
bed1 = df_to_bed(df_TATA_PWM, 'Chromosome', '45BP_Start', '45BP_End', ['TSS', 'Sequence'])
bed2 = df_to_bed(df_TATA_pattern, 'Chromosome', '45BP_Start', '45BP_End', ['TSS'])

In [7]:
# Find intersections
intersections = bed1.intersect(bed2, wa=True, wb=True)

In [8]:
# Convert the intersections to a DataFrame
intersected_df = intersections.to_dataframe(names=[
    'Chromosome', 'Start1', 'End1', 'TSS1', 'Sequence', 'Chromosome2', 'Start2', 'End2', 'TSS2'
])
intersected_df

,Chromosome,Start1,End1,TSS1,Sequence,Chromosome2,Start2,End2,TSS2
0,chr1,359636,359726,359681,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,chr1,359636,359726,359681
1,chr1,588408,588498,588453,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,chr1,588408,588498,588453
2,chr1,1000051,1000141,1000096,CCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCGC...,chr1,1000051,1000141,1000096
3,chr1,1000051,1000141,1000096,CCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCGC...,chr1,1000052,1000142,1000097
4,chr1,1000052,1000142,1000097,CCCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCG...,chr1,1000051,1000141,1000096
...,...,...,...,...,...,...,...,...,...
7048,chrY,11385642,11385732,11385687,CTATGTGTATGTAGATATATAGCTGTACACTTTTTTGTATTTCAGG...,chrY,11385642,11385732,11385687
7049,chrY,14907853,14907943,14907898,ATAATAAGGAGATATATATTAAATCCACAGTTTGCAAAATATCTTT...,chrY,14907853,14907943,14907898
7050,chrY,17997207,17997297,17997252,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...,chrY,17997207,17997297,17997252
7051,chrY,21138588,21138678,21138633,TGAGAGGAGTTTCTTATAAAAGCTTTCGAATTCAGATGTAACCCAG...,chrY,21138588,21138678,21138633
7052,chrY,24077754,24077844,24077799,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...,chrY,24077754,24077844,24077799

In [9]:
# Calculate the overlap percentage
def calculate_overlap_percentage(row):
    overlap_start = max(row['Start1'], row['Start2'])
    overlap_end = min(row['End1'], row['End2'])
    overlap = max(0, overlap_end - overlap_start + 1)
    length1 = row['End1'] - row['Start1'] + 1
    length2 = row['End2'] - row['Start2'] + 1
    return overlap / min(length1, length2)

intersected_df['Overlap_Percentage'] = intersected_df.apply(calculate_overlap_percentage, axis=1)
intersected_df

,Chromosome,Start1,End1,TSS1,Sequence,Chromosome2,Start2,End2,TSS2,Overlap_Percentage
0,chr1,359636,359726,359681,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,chr1,359636,359726,359681,1.000000
1,chr1,588408,588498,588453,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...,chr1,588408,588498,588453,1.000000
2,chr1,1000051,1000141,1000096,CCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCGC...,chr1,1000051,1000141,1000096,1.000000
3,chr1,1000051,1000141,1000096,CCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCGC...,chr1,1000052,1000142,1000097,0.989011
4,chr1,1000052,1000142,1000097,CCCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCG...,chr1,1000051,1000141,1000096,0.989011
...,...,...,...,...,...,...,...,...,...,...
7048,chrY,11385642,11385732,11385687,CTATGTGTATGTAGATATATAGCTGTACACTTTTTTGTATTTCAGG...,chrY,11385642,11385732,11385687,1.000000
7049,chrY,14907853,14907943,14907898,ATAATAAGGAGATATATATTAAATCCACAGTTTGCAAAATATCTTT...,chrY,14907853,14907943,14907898,1.000000
7050,chrY,17997207,17997297,17997252,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...,chrY,17997207,17997297,17997252,1.000000
7051,chrY,21138588,21138678,21138633,TGAGAGGAGTTTCTTATAAAAGCTTTCGAATTCAGATGTAACCCAG...,chrY,21138588,21138678,21138633,1.000000
7052,chrY,24077754,24077844,24077799,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...,chrY,24077754,24077844,24077799,1.000000

In [11]:
full_overlap_sequences = intersected_df[intersected_df['Overlap_Percentage'] == 1.0][['Chromosome', 'Start1', 'End1', 'TSS1', 'Sequence']]
full_overlap_sequences

,Chromosome,Start1,End1,TSS1,Sequence
0,chr1,359636,359726,359681,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...
1,chr1,588408,588498,588453,TCTTTCTTCTTTATTAAAAAAAAGGAAAAATCCAAACACAAGATTA...
2,chr1,1000051,1000141,1000096,CCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCGC...
5,chr1,1000052,1000142,1000097,CCCGCGGCGGCGAGGCCTTAAATAGGGAAACGGCCTGAGGCGCGCG...
6,chr1,1013452,1013542,1013497,TGTGCCTCAGGCTTATAATAGGGCCGGTGCTGCCTGCCGAAGCCGG...
...,...,...,...,...,...
7048,chrY,11385642,11385732,11385687,CTATGTGTATGTAGATATATAGCTGTACACTTTTTTGTATTTCAGG...
7049,chrY,14907853,14907943,14907898,ATAATAAGGAGATATATATTAAATCCACAGTTTGCAAAATATCTTT...
7050,chrY,17997207,17997297,17997252,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...
7051,chrY,21138588,21138678,21138633,TGAGAGGAGTTTCTTATAAAAGCTTTCGAATTCAGATGTAACCCAG...
7052,chrY,24077754,24077844,24077799,TTTAGGTTTTCTACAAATAATATTATGATTACTTTCTCTTCCTAAA...

In [12]:
full_overlap_sequences.to_csv("/data/projects/CorePromoterPWM/Intersect_PWM_pattern/TATA_positive.tsv", sep="\t", index=False)

In [13]:
# 2. Unique regions in the first dataframe but not in the second dataframe
unique_bed1 = bed1.subtract(bed2, A=True)
unique_df1 = unique_bed1.to_dataframe(names=['Chromosome', 'Start', 'End', 'TSS', 'Sequence'])
unique_df1

,Chromosome,Start,End,TSS,Sequence
0,chr1,160401,160491,160446,CATCAAGGATCTGCCTATATCAACAAAGGAGCCAAGGACCAACCAT...
1,chr1,496560,496650,496605,CCTGTCTCAAAACAACAAAAAAGTAGCAGCTAACATCAACTGACCT...
2,chr1,612768,612858,612813,ACTCTTGGTCTGTCGTCCAGGATAGAGGGCAGGGATGCCATCACTA...
3,chr1,633651,633741,633696,AAGCCCATAAAAATAAAAAACTATAACAAACCCTGAGAACCAAAAT...
4,chr1,760866,760956,760911,CATCAAGGATCTGCCTATATCAACAAAGGAGCCAAGGACCAACCAT...
...,...,...,...,...,...
7534,chrY,19987807,19987897,19987852,ATAATAATAAAATTTTAAAAAAATAATAAAGATGTTCTGAAGCTTG...
7535,chrY,20570474,20570564,20570519,CTGGAGAATCCCGAACATTAAAGGGCTCGGCAAGAGACCATCCCCT...
7536,chrY,25592300,25592390,25592345,TTTTTCTTAATTTAGGTTTTCTACAAATAATATTATGATTACTTTC...
7537,chrY,26354373,26354463,26354418,CTCAATGAATACTTGTTGAATGAATGAACGGGCTTTTCTTTTCAGG...
7538,chrY,26591556,26591646,26591601,TCCAGAGAGCTGCCTTCCATAAGACCAGCAGAAGAGTGGGCAAACA...

In [14]:
# 3. Unique regions in the second dataframe but not in the first dataframe
unique_bed2 = bed2.subtract(bed1, A=True)
unique_df2 = unique_bed2.to_dataframe(names=['Chromosome', 'Start', 'End', 'TSS'])
unique_df2

     Chromosome     Start       End       TSS
0          chr1    182651    182741    182696
1          chr1    498931    499021    498976
2          chr1    810116    810206    810161
3          chr1    831560    831650    831605
4          chr1   1214108   1214198   1214153
...         ...       ...       ...       ...
3523       chrY  25995652  25995742  25995697
3524       chrY  26123629  26123719  26123674
3525       chrY  26247339  26247429  26247384
3526       chrY  57016051  57016141  57016096
3527       chrY  57214352  57214442  57214397

[3528 rows x 4 columns]